<!DOCTYPE html>
<html>
	<% include ./partials/header-2018 %>
	<body style="min-height: 100vh">
		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="images/2018/SVG/Logo.svg" alt="" width="240rem" class="img-responsive"></a>						
					</div>

					<!-- Discord Invite Link: https://discord.gg/0Vs8OlyPtSwRjKKW -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="/#home">Home</a></li>
							<li><a href="/#about">About</a></li>
							<li><a href="/#resources">Resources</a></li>
							<li><a href="/#portfolio">Portfolio</a></li>
							<!-- <li><a href="#sponsors">Sponsors</a></li> -->
							<li><a href="/#contact">Contact Us</a></li>
							<li><form action="https://www.paypal.com/cgi-bin/webscr" style="padding-left: 20px; padding-right: 20px" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="BXYTCP7N9VCN8">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>

		<section class="home" id="home" data-stellar-background-ratio="0.4" style="min-height: 100vh">
			<div class="container">
				<div class="row">
          <div class="col-md-12 text-center">
            <h2 style="color: #00F4FF">WHAT IS THIS ABOUT?</h2>
            <h3 style="color: white">Imagine combining the action of a major sporting event such as football and the rhythm of a rock and roll concert, but with a mechanical engineering twist. The FIRST Robotics Competition provides an educational and engineering environment for students to learn skills that aid in future job placement. It couples international teams made of students and professional engineers to overcome design and functionality obstacles. FIRST’s competition brings out the competitiveness of life with the fun of learning.</h3>
            <h2 style="color: #00F4FF">WHEN?</h2>
            <h3 style="color: white">
              March 21 – 24, 2018
            </h3>
          </div>
          <div class="col-md-12 text-center">
            <h2 style="color: #00F4FF">WHO CAN GO?</h2>
            <h3 style="color: white">
              The FIRST Robotics Competition is open to the public! We encourage anyone to come by to see all the action and cheer on our future innovators and leaders.
            </h3>
          </div>
          <div class="col-md-12 text-center">
            <h2 style="color: #00F4FF">WHERE?</h2>
            <h3 style="color: white">
              <a style="color: #FF45E5" href="https://goo.gl/maps/4tzcvDQEsLF2">
                UCI Bren Events Center </br>
                100 Mesa Road </br>
                Irvine, CA 92697 USA
              </a>
            </h3>
            <h3 style="color: #FF45E5"><b><a href="http://www.firstoc.org/wp-content/uploads/2017/02/UCI_16_map_campus_core.pdf">CAMPUS MAP</a> | <a href="http://www.ucirvinesports.com/sports/2017/5/26/game-day-breneventscentergameday.aspx">PARKING INFORMATION <span>(Bottom of page)</span></a></b></h3>
            <h4>Teams bringing trailers will be required to pay for an additional parking spot.  Parking is strictly enforced.</h4>
          </div>
					<div class="col-md-12">
            <div id="map" style="height: 40em; width: 100%;"></div>
					</div>
				</div>
			</div>
		</section>

		<!--<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						&copy; Team 5877 | Santiago High School Robotics Booster Club <%= year %>
					</div>
				</div>
			</div>
		</footer>-->

		<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h2 class="modal-title" id="myModalLabel">Resource Files</h2>
					</div>
					<div class="modal-body">
						<span> <h3><i class="fa fa-file-pdf-o fa-lg pull-left"></i><a href="https://drive.google.com/open?id=1P99WkNZcJrMdcPN4JnrBfOOfalpxqyBV">Sponsor Packet</a></h3></span>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/jquery.stellar.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.shuffle.modernizr.js"></script>
		<script src="js/jquery.shuffle.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/script.js"></script>
    <!-- AIzaSyBln620eWg85KYAFqboGvpXncNSNElbfyM -->
    <script>
      function initMap() {
        var brenEventsCenter = {lat: 33.6494028, lng: -117.8470597};
        console.log(document.getElementById('map'));
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: brenEventsCenter
        });
        var marker = new google.maps.Marker({
          position: brenEventsCenter,
          map: map
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBln620eWg85KYAFqboGvpXncNSNElbfyM&callback=initMap"></script>
		<script>
		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-85272324-1', 'auto');
			ga('send', 'pageview');

	</script>
	</body>
</html>
