<!DOCTYPE html>
<!--suppress CommaExpressionJS -->
<html>
	<% include partials/header.ejs %>
	<body>
		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="images/MECHALODONS.svg" alt="" width="240rem" class="img-responsive"></a>
					</div>

					<!-- Discord Invite Link: https://discord.gg/0Vs8OlyPtSwRjKKW -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#resources">Calendar/Resources</a></li>
							<li><a href="#portfolio">Media</a></li>
							<!-- <li><a href="#sponsors">Sponsors</a></li> -->
							<li><a href="#contact">Contact Us</a></li>
							<li><form action="https://www.paypal.com/cgi-bin/webscr" style="padding-left: 20px; padding-right: 20px" method="post" target="_top">
									<input type="hidden" name="cmd" value="_s-xclick">
									<input type="hidden" name="hosted_button_id" value="BXYTCP7N9VCN8">
									<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
									<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
								</form></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>

		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<h2 class="hero-title">Building Robots<br><span class="title-part2">Expanding Minds</span></h2>
								<p class="hero-work">Welcome To Our Waters</p>
								<a href="#about" class="btn btn-main btn-lg">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="mouse-icon"><div class="wheel"></div></div> -->
			<div class="arrow bounce"></div>
		</section>

		<section class="about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>We are FRC Team 5877</h3>
							<p>Mechalodons</p>
						</div>
						<div class="row mb90">
							<div class="col-md-6">
								<p>Our mission is simple: build a sustainable environment for continuation of our club. We will share our passion for engineering and creative problem solving with our future members and alumni alike. Whether we are building bots or learning new skills or sharing our knowledge with our community, the Mechalodons are always ready to demonstrate what gracious professionalism means.</p>
							</div>
							<div class="col-md-6">
								<img src="images/team.jpg" alt="" class="img-responsive">
							</div>
						</div>

						<!--
						<div class="row">
							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member1.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Jerry Ward</strong>
										<p class="st-member-pos">CEO</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member2.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Sarah Moore</strong>
										<p class="st-member-pos">Designer</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member3.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Rose Johnson</strong>
										<p class="st-member-pos">Developer</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>


						</div>
						-->

					</div>
				</div>
			</div>
		</section>

		<section class="service" id="resources" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Cool Stuff</h3>
							<p>Helpful resources</p>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="st-feature">
									<a href="https://calendar.google.com/calendar/embed?src=team5877.com_0pto8n3v1n8i4gipus610bk1m4%40group.calendar.google.com&ctz=America%2FLos_Angeles" target="_blank"><div class="st-feature-icon"><i class="fa fa-calendar"></i></div></a>
									<strong class="st-feature-title">Calendar</strong>
									<p>Team events calendar.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="https://github.com/FRC-5877" target="_blank"><div class="st-feature-icon"><i class="fa fa-cogs"></i></div></a>
									<strong class="st-feature-title">CAD Design</strong>
									<p>Repository of our robot code and CAD designs.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="#" data-toggle="modal" data-target="#resourceModal"><div class="st-feature-icon"><i class="fa fa-file"></i></div></a>
									<strong class="st-feature-title">Resource Files</strong>
									<p>View team calendar and other team resources.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="https://www.firstinspires.org/robotics/frc/safety" target="_blank"><div class="st-feature-icon"><i class="fa fa-medkit"></i></div></a>
									<strong class="st-feature-title">Safety First</strong>
									<p>How to Robot safely.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<img src="images/feature-5877.png" alt="" class="img-responsive">
					</div>
					<div class="col-md-7">
						<h3 class="bottom-line">SOME OF OUR BEST WORK</h3>
						<p>Some of our best work is done under extreme pressure to fit a 6 week deadline every year, please feel free to browse our works.</p>
						<!--<a href="#" class="btn btn-main btn-lg">Read more</a>-->
					</div>
				</div>
			</div>
		</section>

		<!--
		<section class="funfacts">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-briefcase"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="25964" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Projects</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-clock-o"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="35469" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Hours Work</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-send"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="86214" data-runit="1">0</span>+</div>
							<strong class="funfact-title">E-mail</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-magic"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="3647" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Completed</strong>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="call-2-acction" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="c2a">
							<h2>Omnibus reliquar rebus</h2>
							<p>Evertitur depravatum illo tamquam novum, possent intus laudatur hinc grate aristoteli per splendido soluta fabulae, ne aristippi cui deleniti nostros illud.</p>
							<a href="#" class="btn btn-main btn-lg">Purchase Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		-->

		<section class="portfolio" id="portfolio">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-md-12 no-padding ">
						<div class="section-title st-center">
							<h3>What we have done</h3>
							<p>Build, Teach & Have Fun!</p>
						</div>
						<div class="filter mb40">
							<form id="filter">
							<fieldset class="group">
								<label class="btn btn-default btn-main"><input type="radio" name="filter" value="all" checked="checked">All</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="outreach">Outreach</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="events">Events</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="fun">Fun</label>
							</fieldset>
							</form><!-- #filter -->
						</div><!-- .filter .mb40 -->

						<div class="grid">
							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/library/2016-jr-fll/IMG_3973_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Library <span>Jr FLL</span></h2>
									<p>Showing the kids what FLL looks like<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalOutreachLibraryJrFLL"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/build/2018/DSC_0909_thumb.JPG" alt=""/>
								<figcaption>
									<h2>Build <span>2018</span></h2>
									<p>Polybius<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalEventsBuild2018"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/school/2020/IMG_3985_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Santiago <span>20/20</span></h2>
									<p>Recruiting for the robotics club<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalOutreachSantiago2020"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio4.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>


							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio5.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/orange-county-tourny-2016/IMG_3984_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Orange County <span>2016</span></h2>
									<p>Orange County Regional 2016</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/summer-camps/2017/IMG_20170619_093024_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Robotics Summer Camps <span>2017</span></h2>
									<p>Training future engineers<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalOutreachSummerCamps2017"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/build/2016/IMG_3885_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Build <span>2016</span></h2>
									<p>Nautilus<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalEventsBuild2016"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>


							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/temescal-valley-fair/2016/IMG_4025_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Watermelon Festival <span>2016</span></h2>
									<p>Temescal Valley Fair</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="images/portfolio10.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/build/2017/IMG_0771_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Build <span>2017</span></h2>
									<p>STEAMWORKS<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalEventsBuild2017"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/regionals/2018-orange-county/DSC_0187_thumb.JPG" alt=""/>
								<figcaption>
									<h2>Orange County <span>2018</span></h2>
									<p>OC Regional 2018 - PowerUp<br/><br/><br/><br/><a class="btn btn-main" data-toggle="modal" data-target="#modalEventsOCRegional2018"><i class="fa fa-link"></i>View more</a></p>
								</figcaption>
							</figure>
						</div>

					</div>
				</div>
			</div>
		</section>

		<!-- <section class="sponsers" id="sponsors">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Mechalodons would like to thank</h3>
							<p>our sponsors</p>
						</div>
					</div>
				</div>
				<div class="row text-center">
					<div class="col-md-3"><img src="art/Mechalodons_Website_Assets/Sponsors_dark/ErgonAsphaltEmulsions_dark.png" class="img-responsive" alt=""></div>
					<div class="col-md-3"><img src="art/Mechalodons_Website_Assets/Sponsors/bitfab-tech-small.png" class="img-responsive" alt="" width="100px"></div>
					<div class="col-md-3"><img src="art/Mechalodons_Website_Assets/Sponsors/Real-8.png" class="img-responsive" alt="" width="100px"></div>
					<div class="col-md-3"><img src="art/Mechalodons_Website_Assets/Sponsors_dark/HaynieDesigns_dark.png" class="img-responsive" alt=""></div>
				</div>
				<hr>
				<div class="row text-center" style="margin-top: 5rem">
					<div class="col-md-3">Ergon Asphalt &amp; Emulsions, Inc.</div>
					<div class="col-md-3">BitFab Technologies, LLC</div>
					<div class="col-md-3">Baeza Family</div>
					<div class="col-md-3">Marmo Family</div>
					<div class="col-md-3">Real Consultants</div>
					<div class="col-md-3">Haynie Designs</div>
					<div class="col-md-3">Reiter Family</div>
					<div class="col-md-3">Davis Family</div>
					<div class="col-md-3">Werner Corp</div>
					<div class="col-md-3">Corona Clay</div>
					<div class="col-md-3">Force Plumbin, Inc.</div>
					<div class="col-md-3">Horvath Family</div>
					<div class="col-md-3">Singer Family</div>
					<div class="col-md-3">Gena's Friends for Felines</div>
				</div>
			</div>
		</section> -->

		<!--
		<section class="call-us">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>If you like to work with us</h3>
						<a href="#" class="btn btn-default-o btn-lg">Call Us Now</a>
					</div>
				</div>
			</div>
		</section>
		-->

		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Contact Us</h3>
							<p>Get in Touch with Us</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form class="contact-form" role="form">
							<input type="text" class="form-control" id="fname" name="fname" placeholder="Your Full Name">
							<input type="email" class="form-control" id="email" name="email" placeholder="Your E-mail">
							<input type="text" class="form-control" id="subj" name="subj" placeholder="Your Subject">
							<textarea id="mssg" name="mssg" placeholder="Your Message" class="form-control" rows="10"></textarea>
							<button class="btn btn-main btn-lg" type="submit" id="send" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."><i class="fa fa-paper-plane "></i> Send</button>
						</form>
						<div id="result-message" role="alert"></div>
					</div>
					<div class="col-md-6">
						<p>Our mission is simple: build a sustainable environment for continuation of our club.
							We will share our passion for engineering and creative problem solving with our future members and alumni alike.
							Whether we are building bots or learning new skills or sharing our knowledge with our community,
							the Mechalodons are always ready to demonstrate what gracious professionalism means.</p>
						<address>
							<strong>Santiago High School Robotics Booster Club</strong><br/><br/>
							Please contact us through our form for our address or any other information you would like to know about our team.
						</address>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						&copy; Team 5877 | Santiago High School Robotics Booster Club 2018
					</div>
				</div>
			</div>
		</footer>

		<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h2 class="modal-title" id="myModalLabel">Resource Files</h2>
					</div>
					<div class="modal-body">
						<h3><span><i class="fa fa-file-pdf-o fa-lg pull-left"></i><a href="https://drive.google.com/file/d/1rcTYvYkeZazsXXE1gIDK9tzLF9rsvQ_A/view" target="_blank">Sponsor Packet</a></span></h3>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalEventsBuild2016" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">2016 Build Season</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselEventsBuild2016" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/events/build/2016/IMG_3811.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3812.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3813.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3825.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3827.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3830.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3839.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3857.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3858.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3861.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3877.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3879.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3880.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3884.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3885.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3888.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3900.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3902.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3909.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3917.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3928.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3936.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2016/IMG_3938.jpg" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselEventsBuild2016" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselEventsBuild2016" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalOutreachLibraryJrFLL" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">El Cerrito Library - Introducing FLL at Jr FLL Tourny</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselOutreachLibraryJrFLL" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/outreach/library/2016-jr-fll/IMG_3972.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/library/2016-jr-fll/IMG_3973.jpg" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselOutreachLibraryJrFLL" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselOutreachLibraryJrFLL" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalOutreachSantiago2020" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">Santiago 2020 - Recruiting freshmen for robotics club</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselOutreachSantiago2020" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/outreach/school/2020/IMG_3985.jpg" alt="">
								</div>
							</div>
							<!--
							<a class="left carousel-control" href="#carouselOutreachSantiago2020" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselOutreachSantiago2020" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
							-->
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalOutreachSummerCamps2017" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">Summer Camps 2017 - Training Future Engineers</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselOutreachSummerCamps2017" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093024.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093029.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093036.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093042.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093052.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093101.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_093116.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/outreach/summer-camps/2017/IMG_20170619_103812.jpg" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselOutreachSummerCamps2017" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselOutreachSummerCamps2017" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalEventsBuild2017" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">2017 Build Season</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselEventsBuild2017" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/events/build/2017/IMG_0597.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0605.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0642.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0649.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0700.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0743.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0749.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0769.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_0771.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_1946.jpg" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2017/IMG_9956.jpg" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselEventsBuild2017" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselEventsBuild2017" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalEventsBuild2018" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">2018 Build Season</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselEventsBuild2018" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/events/build/2018/DSC_0877.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0878.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0881.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0886.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0890.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0903.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0909.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0918.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0919.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0921.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/build/2018/DSC_0924.JPG" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselEventsBuild2018" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselEventsBuild2018" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div class="modal fade" id="modalEventsOCRegional2018" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 50px;">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header" style="border-bottom: none;">
						<div class="pull-left">2018 OC Regional - PowerUp</div>
						<button type="button" class="close" data-dismiss="modal" title="Close"> <span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="modal-body" style="margin-top: 10px;">
						<div id="carouselEventsOCRegional2018" class="carousel slide" data-ride="carousel">
							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img src="images/events/regionals/2018-orange-county/DSC_0004.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0011.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0014.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0018.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0020.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0022.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0025.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0035.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0036.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0038.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0047.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0048.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0051.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0055.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0057.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0070.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0079.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0101.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0105.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0122.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0126.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0135.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0136.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0142.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0158.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0164.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0170.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0174.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0182.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0197.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0200.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0202.JPG" alt="">
								</div>
								<div class="item">
									<img src="images/events/regionals/2018-orange-county/DSC_0233.JPG" alt="">
								</div>
							</div>
							<a class="left carousel-control" href="#carouselEventsOCRegional2018" role="button" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
							</a>
							<a class="right carousel-control" href="#carouselEventsOCRegional2018" role="button" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</div>
					<div class="modal-footer">
						<div class="pull-left">
							<small>Team 5877 :: Mechalodons</small>
						</div>
						<button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
					</div><!--end modal-footer-->
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->



		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/jquery.stellar.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.shuffle.modernizr.js"></script>
		<script src="js/jquery.shuffle.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/script.js"></script>




		<script>
		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-85272324-1', 'auto');
			ga('send', 'pageview');

	    </script>

	</body>
</html>
