<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Mechalodons</title>
		<link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/images/icons/manifest.json">
		<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/images/icons/favicon.ico">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png">
		<meta name="msapplication-config" content="/images/icons/browserconfig.xml">
		<meta name="theme-color" content="#ffffff">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,400italic,600,300italic,300|Oswald:400,300,700' rel='stylesheet' type='text/css'>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">


		<link href="css/owl.carousel.css" rel="stylesheet">
		<link href="css/owl.theme.css" rel="stylesheet">
		<link href="css/owl.transitions.css" rel="stylesheet">

		<link href="css/style.css" rel="stylesheet">

		<!--[if lt IE 9]>
		<script src="js/html5shiv.min.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<header class="st-navbar">
			<nav class="navbar navbar-default navbar-fixed-top clearfix" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sept-main-nav">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#"><img src="images/MECHALODONS.svg" alt="" width="240rem" class="img-responsive"></a>
					</div>

					<!-- Discord Invite Link: https://discord.gg/0Vs8OlyPtSwRjKKW -->
					<div class="collapse navbar-collapse main-nav" id="sept-main-nav">
						<ul class="nav navbar-nav navbar-right">
							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#about">About</a></li>
							<li><a href="#resources">Resources</a></li>
							<li><a href="#portfolio">Portfolio</a></li>
							<li><a href="#sponsors">Sponsors</a></li>
							<li><a href="#contact">Contact Us</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
		</header>
		<section class="home" id="home" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="st-home-unit">
							<div class="hero-txt">
								<h2 class="hero-title">Building Robots</br><span class="title-part2">Expanding Minds</span></h2>
								<p class="hero-work">Welcome To Our Waters</p>
								<a href="#about" class="btn btn-main btn-lg">Find Out More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <div class="mouse-icon"><div class="wheel"></div></div> -->
			<div class="arrow bounce"></div>
		</section>

		<section class="about" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>We are FRC Team 5877</h3>
							<p>Mechalodons</p>
						</div>
						<div class="row mb90">
							<div class="col-md-6">
								<p>Our mission is simple: build a sustainable environment for continuation of our club. We will share our passion for engineering and creative problem solving with our future members and alumni alike. Weather we are building bots or learning new skills or sharing our knowledge with our community, the Mechalodons are always ready to demonstrate what gracious professionalism means.</p>
							</div>
							<div class="col-md-6">
								<img src="images/team.jpg" alt="" class="img-responsive">
							</div>
						</div>

						<!--
						<div class="row">
							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member1.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Jerry Ward</strong>
										<p class="st-member-pos">CEO</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member2.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Sarah Moore</strong>
										<p class="st-member-pos">Designer</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="st-member">
									<div class="st-member-img">
										<img src="images/member3.png" alt="" class="img-responsive">
									</div>
									<div class="st-member-info">
										<strong class="st-member-name">Rose Johnson</strong>
										<p class="st-member-pos">Developer</p>
										<div class="skills">
											<div class="skill">
												<strong>HTML</strong>
												<span>90%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
														<span class="sr-only">90% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>CSS</strong>
												<span>70%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
														<span class="sr-only">70% Complete</span>
													</div>
												</div>
											</div>
											<div class="skill">
												<strong>JavaScript</strong>
												<span>86%</span>
												<div class="progress">
													<div class="progress-bar progress-bar-sept" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
														<span class="sr-only">86% Complete</span>
													</div>
												</div>
											</div>
										</div>
										<div class="st-member-social">
											<ul>
												<li><a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#" class="dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>


						</div>
						-->

					</div>
				</div>
			</div>
		</section>

		<section class="service" id="resources" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Cool Stuff</h3>
							<p>Helpful resources</p>
						</div>
						<div class="row">
							<div class="col-md-3">
								<div class="st-feature">
									<a href="https://github.com/FRC-5877/2016-Robot-Code"><div class="st-feature-icon"><i class="fa fa-github"></i></div></a>
									<strong class="st-feature-title">Code</strong>
									<p>View all of our robot code and other projects.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="https://github.com/FRC-5877/2016-Robot-CAD"><div class="st-feature-icon"><i class="fa fa-cogs"></i></div></a>
									<strong class="st-feature-title">CAD Design</strong>
									<p>Repository of our CAD and robot designs.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="#" data-toggle="modal" data-target="#resourceModal"><div class="st-feature-icon"><i class="fa fa-file"></i></div></a>
									<strong class="st-feature-title">Resource Files</strong>
									<p>View team resources. Marketing, etc.</p>
								</div>
							</div>
							<div class="col-md-3">
								<div class="st-feature">
									<a href="http://www.firstinspires.org/robotics/frc/safety"><div class="st-feature-icon"><i class="fa fa-medkit"></i></div></a>
									<strong class="st-feature-title">Safety First</strong>
									<p>How to Robot safely.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<img src="images/feature-5877.png" alt="" class="img-responsive">
					</div>
					<div class="col-md-7">
						<h3 class="bottom-line">SOME OF OUR BEST WORK</h3>
						<p>Some of our best work is done under extreme pressure to fit a 6 week deadline every year, please feel free to browse our works.</p>
						<!--<a href="#" class="btn btn-main btn-lg">Read more</a>-->
					</div>
				</div>
			</div>
		</section>

		<!--
		<section class="funfacts">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-briefcase"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="25964" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Projects</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-clock-o"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="35469" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Hours Work</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-send"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="86214" data-runit="1">0</span>+</div>
							<strong class="funfact-title">E-mail</strong>
						</div>
					</div>
					<div class="col-md-3">
						<div class="funfact">
							<div class="st-funfact-icon"><i class="fa fa-magic"></i></div>
							<div class="st-funfact-counter" ><span class="st-ff-count" data-from="0" data-to="3647" data-runit="1">0</span>+</div>
							<strong class="funfact-title">Completed</strong>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="call-2-acction" data-stellar-background-ratio="0.4">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="c2a">
							<h2>Omnibus reliquar rebus</h2>
							<p>Evertitur depravatum illo tamquam novum, possent intus laudatur hinc grate aristoteli per splendido soluta fabulae, ne aristippi cui deleniti nostros illud.</p>
							<a href="#" class="btn btn-main btn-lg">Purchase Now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		-->


		<section class="portfolio" id="portfolio">
			<div class="container-fluid ">
				<div class="row">
					<div class="col-md-12 no-padding ">
						<div class="section-title st-center">
							<h3>What we have done</h3>
							<p>Build, Teach & Have Fun!</p>
						</div>
						<div class="filter mb40">
							<form id="filter">
							<fieldset class="group">
								<label class="btn btn-default btn-main"><input type="radio" name="filter" value="all" checked="checked">All</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="outreach">Outreach</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="events">Events</label>
								<label class="btn btn-default"><input type="radio" name="filter" value="fun">Fun</label>
							</fieldset>
							</form><!-- #filter -->
						</div><!-- .filter .mb40 -->

						<div class="grid">
							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/library/2016-jr-fll/IMG_3973_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Library <span>Jr FLL</span></h2>
									<p>Showing the kids what FLL looks like</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio2.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/school/2020/IMG_3985_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Santiago <span>20/20</span></h2>
									<p>Recruiting for the robotics club</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio4.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>


							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio5.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/orange-county-tourny-2016/IMG_3984_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Orange County <span>2016</span></h2>
									<p>Orange County Regional Tournament 2016</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="images/portfolio7.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["events"]'>
								<img src="images/events/build/2016/IMG_3885_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Build <span>2016</span></h2>
									<p>Nautilus</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>


							<figure class="portfolio-item" data-groups='["outreach"]'>
								<img src="images/outreach/temescal-valley-fair/2016/IMG_4025_thumb.jpg" alt=""/>
								<figcaption>
									<h2>Watermelon Festival <span>2016</span></h2>
									<p>Temescal Valley Fair</p>
									<!--<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>-->
								</figcaption>
							</figure>
							<figure class="portfolio-item" data-groups='["codding"]'>
								<img src="images/portfolio10.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio11.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
							<figure class="portfolio-item" data-groups='["design"]'>
								<img src="images/portfolio12.jpg" alt=""/>
								<!--
								<figcaption>
									<h2>Nice <span>Lily</span></h2>
									<p>Lily likes to play with crayons and pencils</p>
									<a href="#" class="btn btn-main"><i class="fa fa-link"></i> View more</a>
								</figcaption>
								-->
							</figure>
						</div>

					</div>
				</div>
			</div>
		</section>

		<section class="pricing" id="sponsors">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Mechalodons would like to thank</h3>
							<p>our sponsors</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<!-- <div class="section-title st-center">
							<h3>Some Of our clients</h3>
							<p>Avocent deditum long</p>
						</div> -->
						<ul class="clients-carousel">
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/Century21_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/EmploymentSolutions_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/ErgonAsphaltEmulsions_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/HaynieDesigns_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/KN_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/LucasOil_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/Mathnasium_dark.png" class="img-responsive" alt=""></li>
							<li><img src="art/Mechalodons_Website_Assets/Sponsors_dark/OMF_dark.png" class="img-responsive" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<!--
		<section class="call-us">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3>If you like to work with us</h3>
						<a href="#" class="btn btn-default-o btn-lg">Call Us Now</a>
					</div>
				</div>
			</div>
		</section>
		-->

		<section class="contact" id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title st-center">
							<h3>Contact Us</h3>
							<p>Get in Touch with Us</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form class="contact-form" role="form" action="/" method="post">
							<input type="text" class="form-control" id="fname" name="fname" placeholder="Your Full Name">
							<input type="email" class="form-control" id="email" name="email" placeholder="Your E-mail">
							<input type="text" class="form-control" id="subj" name="subj" placeholder="Your Subject">
							<textarea id="mssg" name="mssg" placeholder="Your Message" class="form-control" rows="10"></textarea>
							<button class="btn btn-main btn-lg" type="submit" id="send" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Sending..."><i class="fa fa-paper-plane "></i> Send</button>
						</form>
						<div id="result-message" role="alert"></div>
					</div>
					<div class="col-md-6">
						<p>Our mission is simple: build a sustainable environment for continuation of our club. We will share our passion for engineering and creative problem solving with our future members and alumni alike. Weather we are building bots or learning new skills or sharing our knowledge with our community, the Mechalodons are always ready to demonstrate what gracious professionalism means.</p>
						<address>
							<strong>Santiago High School Robotics Booster Club</strong><br>
							23295 Claystone Ave<br>
							Corona, CA 92883<br>
						</address>
					</div>
				</div>
			</div>
		</section>

		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						&copy; Team 5877 | Santiago High School Robotics Booster Club 2016
					</div>
				</div>
			</div>
		</footer>

		<div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h2 class="modal-title" id="myModalLabel">Resource Files</h2>
					</div>
					<div class="modal-body">
						<span> <h3><i class="fa fa-file-pdf-o fa-lg pull-left"></i><a href="https://drive.google.com/open?id=0B2iJl2yKhaWVNXVkQ3ZvR3otTms">Sponsor Packet</a></h3></span>
						<br/>
						<br/>
					</div>
				</div>
			</div>
		</div>

		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.easing.min.js"></script>
		<script src="js/jquery.stellar.js"></script>
		<script src="js/jquery.appear.js"></script>
		<script src="js/jquery.nicescroll.min.js"></script>
		<script src="js/jquery.countTo.js"></script>
		<script src="js/jquery.shuffle.modernizr.js"></script>
		<script src="js/jquery.shuffle.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.ajaxchimp.min.js"></script>
		<script src="js/script.js"></script>

		<script>
		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-85272324-1', 'auto');
			ga('send', 'pageview');

	</script>
	</body>
</html>
